﻿@model IndexModel

@foreach (var gm in Model.Games)
{
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>@gm.GameDate</h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4"><h2>@gm.Home.Name</h2></div>
            <div class="col-md-4"><h2 class="display-4">@gm.HomeScore - @gm.AwayScore</h2></div>
            <div class="col-md-4"><h2>@gm.Away.Name</h2></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h5>
                    [@gm.Status]
                </h5>

                @if (gm.Status != "Postponed")
                {
                    <strong>
                        Top 3 players by time on ice:<br />
                    </strong>
                    <div class="text-center" style="list-style-position: inside; vertical-align: middle;">
                        <ol>
                            @{
                                var players = gm.TopPlayers.OrderBy(t => t.Top);

                                foreach (var player in players)
                                {
                                    var name = player.Name;
                                    var numb = player.Number;
                                    var team = player.Team.Name;
                                    var time = player.TimeOnIce;
                                    var top = player.Top;

                                    var full = $"[{team}] {name} (#{numb}) - {time}";

                                    <li><span>@full</span></li>
                                }
                            }
                        </ol>
                    </div>
                }
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
    <br />
}




