﻿@model IndexModel

<table class="table table-hover" summary="Games for the last month">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th>
                Home
            </th>
            <th>
                Score
            </th>
            <th>
                Away
            </th>
            <th>
                Top playes on ice
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var gm in Model.Games)
        {
            <tr>
                <td style="max-width:120px">
                    <div style="font-size: 20px;">@gm.GameDate</div>
                </td>
                <td>
                    <h5>@gm.Status</h5>
                </td>
                <td>
                    <div style="font-size: 20px;">@gm.Home.Name</div>
                </td>
                <td>
                    <div style="font-size: 32px;">@gm.HomeScore - @gm.AwayScore</div>
                </td>
                <td>
                    <div style="font-size: 20px;">@gm.Away.Name</div>
                </td>
                <td>

                    @if (gm.Status != "Postponed")
                    {

                        <div style="text-align:left; padding-left: 20px;">
                            <ol>
                                @{
                                    var players = gm.TopPlayers.OrderBy(t => t.Top);

                                    foreach (var player in players)
                                    {
                                        var name = player.Name;
                                        var numb = player.Number;
                                        var team = player.Team.Name;
                                        var time = player.TimeOnIce;
                                        var top = player.Top;

                                        var full = $"[{team}] {name} (#{numb}) - {time}";

                                        <li><span>@full</span></li>
                                    }
                                }
                            </ol>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>





