﻿@page

@using Variant10.DbModel;
@using Variant10.NhlApi;
@using Microsoft.Extensions.Options

@model ErrorModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostEnv
@inject IOptions<NhlApiSettings> AppSettings
@{
    ViewData["Title"] = "About";
    var _apiRoot = AppSettings.Value.ApiRoot;
}

@inject GamesContext _context;

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<div class="col-md-7 container justify-content-center">
    <div class="col">

        See <a title="GitLab" href="https://gitlab.com/Maxx53/variant10" target="_blank" rel="noopener">Variant10 on GitLab</a>. Made with .NET @Environment.Version. Used libraries and tools:
        <ul>
            <li><a title="Entity Framework" href="https://docs.microsoft.com/ru-ru/ef/" target="_blank" rel="noopener">Entity Framework</a></li>
            <li><a title="MySQL" href="https://www.mysql.com" target="_blank" rel="noopener">MySQL</a></li>
            <li><a title="Bootstrap" href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a></li>
        </ul>

        Used <a href="https://gitlab.com/dword4/nhlapi">NHL API</a> links:
        <ul>
            <li><a title="Teams" href="@_apiRoot/teams" target="_blank" rel="noopener">Teams</a></li>
            <li><a title="Schedule" href="@NhlApiService.GenGamesUrl(1, _apiRoot, AppSettings.Value.HomeId)" target="_blank" rel="noopener">Schedule</a></li>
            <li><a title="Game-boxscore" href="@_apiRoot/game/2021020788/boxscore" target="_blank" rel="noopener">Game-boxscore</a></li>
        </ul>

        <p id="mydesc"><strong>Host Information</strong></p>
        <table class="table table-sm" aria-describedby="mydesc" aria-hidden="true">
            <tbody>
                <tr>
                    <td>Hostname</td>
                    <td>@Environment.MachineName</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>@System.Runtime.InteropServices.RuntimeInformation.OSDescription</td>
                </tr>
                <tr>
                    <td>IP-address</td>
                    <td>@HttpContext.Connection.LocalIpAddress</td>
                </tr>
                <tr>
                    <td>DB address</td>
                    <td>@_context.DataSource</td>
                </tr>
                <tr>
                    <td>App version</td>
                    <td>@GetType().Assembly.GetName().Version.ToString()</td>
                </tr>
                <tr>
                    <td>Environment</td>
                    <td>@hostEnv.EnvironmentName</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="text-center">
            <p><a asp-page="/Index">Back to Index</a></p>
        </div>
    </div>
</div>
