﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var isTable = TempData["table"] as bool? ?? false;
    var viewName = isTable ? "Table" : "List";
    var buttonName = isTable ? "List" : "Table";
    var month = TempData["month"] as int? ?? 1;
}

<div class="text-center">
    <h2 class="display-4">Variant 10</h2>
    <p>To attract hockey fans to marketing campaign you will need to find all games happened in St. Louis during previous month (e.g. if now is March 05, 2021 last month means Feb 2021) and print a list of it with score and top 3 player by time on ice. Use <a href="https://gitlab.com/dword4/nhlapi">API</a> and store all the collected data in a local database.</p>


    @if (TempData["DbError"] is bool dbError)
    {
        if (dbError && TempData[IndexModel.MessageKey] is string dataSource)
        {
            <div class="row justify-content-md-center">
                <div class="col-md-8 alert alert-danger" role="alert">
                    DB server @dataSource is not available!
                </div>
            </div>

            <form asp-antiforgery="false" method="POST">
                <input type="hidden" />
                <input type="submit" value="Reconnect to DB" class="btn btn-info" asp-page-handler="Reconnect" />
            </form>
        }
    }
    else
    {
        <form asp-antiforgery="false" method="POST">
            <input type="hidden" />
            <input type="submit" value="Update DB from API" class="btn btn-info" asp-page-handler="Update" asp-route-table="@Request.Query["table"]" asp-route-month="@Request.Query["month"]" />
            <input type="submit" value="Clear DB" class="btn btn-danger" asp-page-handler="Clear" asp-route-table="@Request.Query["table"]" />
            <a asp-page="Index" asp-route-table="@(!isTable)" asp-route-month="@month" class="btn btn-light">@buttonName View</a>
        </form>

        <br />

        @if (TempData[IndexModel.MessageKey] is string message)
        {
            <div class="row justify-content-md-center">
                <div class="col-md-4 alert alert-success" role="alert">
                    @message
                </div>
            </div>
        }

        @if (Model.Games != null && Model.Games.Any())
        {
            <style>

                hr {
                    margin-top: 0;
                }

                ol {
                    font-weight: bolder;
                    margin: 0;
                    padding: 0;
                }

                    ol li span {
                        font-weight: normal;
                    }

                td {
                    vertical-align: middle !important;
                }
            </style>

            <div style="font-size: 34px;">Games in @Utils.GetPrettyDate(DateTime.Now.AddMonths(-month))</div><br />
            <partial name="~/Pages/Views/@(viewName).cshtml" model="@Model" />
        }
    }

</div>

